* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Montserrat:wght@400;600&family=Oswald:wght@500&family=Pacifico&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');

.svg-file path {
    fill: transparent;
    stroke-width: 1;
    stroke: #e5345f;
}

.svg-file.z-logo path {
    stroke-dasharray: 550;
    stroke-dashoffset: 0;
}

.svg-file.z-logo path {
    animation: animate-zlogo 3s linear infinite;
}

svg {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
    transform: scale(2);
}

.svg-file h2 {
    font-family: "Roboto", cursive;
    transform: translate(0, 50px) skewX(-210deg) rotate(-6deg);
    font-size: 3em;
    color: #89C9B8;
}

/* .svg-file h2 span:nth-child(1) {
    animation: fadein-fadeout 1s infinite;
} */



/* .svg-file h2 span:nth-last-child(1) {
    animation: fadein-fadeout 2s infinite;
} */

@keyframes dots {

    0%,
    20% {
        background-color: rgb(191, 224, 215, .08);
        box-shadow:
            .25em 0 0 rgba(191, 224, 215, .08),
            .5em 0 0 rgba(191, 224, 215, .08);
    }

    40% {
        background-color: #e5345f;
        box-shadow:
            .25em 0 0 rgba(191, 224, 215, .08),
            .5em 0 0 rgba(191, 224, 215, .08);
    }

    60% {
        box-shadow:
            .25em 0 0 #e5345f,
            .5em 0 0 rgba(191, 224, 215, .08);
    }

    80%,
    100% {
        box-shadow:
            .25em 0 0 #e5345f,
            .5em 0 0 #e5345f;
    }
}

@keyframes fadein-fadeout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animate-zlogo {
    0% {
        stroke-dashoffset: 0;
    }

    20% {
        stroke-dashoffset: 550;
        fill: transparent;
    }

    40% {
        fill: transparent;
        stroke-dashoffset: 1100;
    }

    60% {
        stroke-dashoffset: 1100;
        fill: #e5345f;
    }

    80% {
        stroke-width: 0;
        fill: #e5345f;
    }

    100% {
        /* stroke-dashoffset: 0; */
        stroke-width: 3;
        fill: transparent;
    }
}
